.navbar{
    background-color: red;
}
.main_div{
    width:50%;
    height:100vh;
    display: flex;
    justify-content: center;
    margin-left:10px;
} 
.paragraph_content{
    font-size: 17px;
    margin-top:25px;
}
